* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* body {}
   */

.app {
  display: flex;
}

textarea {
  width: 100%;
  height: 300px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 16px;
}

button {
  background: none;
  border: none;
}

input {
  width: 100%;
  height: 30px;
  padding: 3px 18px;
  font-size: 17px;
  margin: 25px 5px;
}

.sidebar {
  background-color: rgba(214, 186, 171, 0.178);
  height: 100vh;
  width: 250px;
  min-width: 200px;
  position: fixed;
  padding-top: 10px;
}

.name {
  padding-left: 5px;
  margin-left: 10px;
  color: rgb(245, 134, 74);
  font-size: 16px;
}

.user {
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(245, 134, 74);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logout {
  padding: 0px;
  margin: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#logout:hover {
  background: none;
  width: 23px;
  height: 23px;
}

.pages-sidebar {
  margin-top: 25px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 3px 20px;
  color: rgb(122, 113, 113);
  cursor: pointer;
  text-align: left;
  font-size: 14px;
}

#button-clicked {
  background: rgba(223, 215, 212, 0.822);
  color: rgba(245, 134, 74, 0.877);
}

.sidebar button:hover {
  background: rgba(223, 215, 212, 0.822);
}

.sidebar input {
  width: 230px;
  margin: 25px 10px;
}

.main {
  width: 100%;
  margin-left: 16%;
  padding-left: 180px;
  padding-top: 70px;
  font-size: 16px;
  position: relative;
  line-height: 1.4;
  margin-bottom: 100px;
}

.journal {
  width: 66%;
  overflow: hidden;
  padding: 5px 5px;
}

.journal textarea {
  width: 100%;
  border: solid 3px rgb(243, 133, 93);
  height: 60px;
  padding-top: 15px;
  font-size: 24px;
  border-radius: 5px;
  margin: 3px 0px;
  margin-top: 20px;
}

.journal textarea:focus {
  outline: none;
  border: solid 3px rgb(243, 133, 93);
  height: 90px;
}

.note {
  width: auto;
  border: solid 1px orangered;
  border-radius: 8px;
  margin: 6px 8px 0px 8px;
  padding: 12px 8px;
  white-space: pre-wrap;
}

.note b {
  font-size: 15px;
  font-weight: 550;
}

.note-topics {
  color: rgb(29, 161, 242);
  padding: 0px 8px;
}

.page-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}

.page {
  align-items: left;
  width: 70%;
  white-space: pre-wrap;
  font-size: 20px;
}

#page-edit-icon {
  cursor: pointer;
}

.editpage {
  width: 800px;
  margin-top: 20px;
  padding: 4px 8px;
}

.editpage input {
  width: 100%;
  height: 45px;
  padding: 3px 18px;
  font-size: 16px;
  margin: 8px 0px;
  padding: 8px 5px;
}

.editpage textarea {
  font-size: 20px;
  height: 400px;
}

.editpage .form-control-title input {
  font-size: 32px;
}

.addpage {
  width: 800px;
  margin-top: 20px;
  padding: 4px 8px;
}

.addpage input {
  width: 100%;
  height: 45px;
  padding: 3px 18px;
  font-size: 16px;
  margin: 25px 0px;
  padding: 8px 5px;
  margin-bottom: 8px;
}

.addpage textarea {
  width: 100%;
  height: 400px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 20px;
}

.addpage .form-control-title input {
  font-size: 32px;
}

.btn {
  display: inline-block;
  align-content: center;
  justify-content: center;
  background: rgba(245, 118, 50, 0.836);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background: rgba(235, 93, 17, 0.836);
}

.btn:disabled {
  display: inline-block;
  background: rgba(247, 144, 89, 0.836);
  color: rgb(255, 255, 255);
  opacity: 0.6;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.btn-block {
  height: 45px;
  background: rgba(245, 118, 50, 0.836);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 0px;
  cursor: pointer;
  font-size: 15px;
}

.auth-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.auth {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 550px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 50px 20px;
  border-radius: 5px;
}

.auth-container strong {
  display: inline-block;
  color: rgb(245, 134, 74);
  margin: 10px 120px;
  font-size: 42px;
}

.auth-container h1 {
  margin: 40px auto;
  color: rgb(122, 113, 113);
  font-family: "Helvetica neue", Arial, sans-serif;
  font-weight: 100;
}

.auth-container nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}

.auth input {
  width: 80%;
  height: 50px;
  margin: 8px;
  padding: 10px 18px;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: #a39c9c;
  background-color: #f4f4f4;
}

.auth input:focus {
  outline: none;
  border: solid;
  border-width: 2px;
  border-color: rgb(236, 104, 33);
}

.auth input:hover {
  width: 80%;
  height: 50px;
  padding: 10px 18px;
  border: solid;
  border-width: 2px;
  border-color: rgb(236, 104, 33);
}

.auth .form-control-submit input {
  background-color: rgb(245, 134, 74);
  border: 2px rgb(245, 134, 74);
}

.auth .form-control-submit input:hover {
  background-color: rgb(228, 97, 26);
  border: 2px rgb(219, 109, 49);
}

.auth .authstatus {
  color: rgb(230, 160, 122);
  font-size: 16px;
  font-weight: 550;
}

.auth .authstatus:hover {
  color: rgb(228, 111, 49);
  text-decoration: underline;
}
