/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Airbnb Cereal Light';
  src: url('https://raw.githubusercontent.com/huuphongnguyen/cereal-airbnb-font/master/AirbnbCereal-Light.ttf');
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #ff5a5f;
}

::selection {
  color: black;
  background: #ff5a5f;
}

/* Hiding the scrollbar */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
